source/*

.env
.venv

input_files
__pycache__

tmp
test_output

pitch_1_output
pitch_2_output

source
story1_output
story2_output
experiments

debugging_output

output_files_example4
output_files_example3


